<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UltraPlay</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <meta http-equiv="Content-Security-Policy"
        content="script-src 'self' https://cdn.jsdelivr.net https://ajax.googleapis.com">
</head>

<body>

    <div class="container button">
        <a href="https://hubopsvitor.github.io/formulario/" title="Manutenção de console">
        <img src="../public/img/clientes.png" alt="Clientes"></a>
        <img src="../public/img/os.png" alt="computador" title="Emissão de OS">
    </div>
    </div>
        
    <footer>
        <p id="dataatual"></p>
    </footer>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>
